<h1>List of users</h1>



<hr>

<table border="1">
  <tr>
   

    <th>
      Username
    </th>
 <th>
      Private?
    </th>
    <th>Actions</th>
    <td>
    </td>
  </tr>

  <% @list_of_users.each do |a_user| %>

    <tr>
    

      <td>
        <%= a_user.username %>
      </td>
       <td>
      <%= a_user.private ? 'Yes' : 'No' %>
      </td>
     <td>
          <% if user_signed_in? && a_user != current_user %>
            <% if current_user.following?(a_user) %>
              <%= button_to 'Unfollow', unfollow_user_path(a_user), method: :de %>
            <% elsif current_user.pending_follow_request?(a_user) %>
              <span>Request Sent</span>
            <% else %>
              <%= button_to 'Follow', follow_user_path(a_user), method: :post %>
            <% end %>
          <% end %>
        </td>

      <td>
        <a href="/users/<%= a_user.username %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
