<h1>List of users</h1>



<hr>

<table border="1">
  <tr>
   

    <th>
      Username
    </th>
 <th>
      Private?
    </th>
    <th>Actions</th>
    <td>
    </td>
  </tr>

  <% @list_of_users.each do |a_user| %>

    <tr>
    

      <td>
        <%= a_user.username %>
      </td>
       <td>
      <%= a_user.private ? 'Yes' : 'No' %>
      </td>

    
  
    <td>
   <% if user_signed_in? && a_user != current_user %>
          <% follow_request = FollowRequest.find_by(recipient_id: a_user.id, sender_id: current_user.id) %>
          <% if follow_request.nil? || follow_request.status.nil? || follow_request.status == 'rejected' %>
            <%= form_tag("/insert_follow_request", method: "post") do %>
            
              <input type="hidden" name="query_recipient_id" value="<%= a_user.id %>">
              <button type="submit"> Follow </button>
              Follow
            <% end %>
          <% elsif follow_request.status == 'pending' %>
           Request sent <%= link_to 'Cancel Request', "/delete_follow_request/#{follow_request.id}", method: :get %>
          <% elsif follow_request.status == 'accepted' %>
            <%= link_to 'Unfollow', "/delete_follow_request/#{follow_request.id}", method: :get %>
              <% else %>
          <% end %>
        <% end %>
    </td>

      <td>
        <a href="/users/<%= a_user.username %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
